{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card md-3">
                <div class="card-header">
                    <h4><b>コメント一覧</b></h1>
                </div>    
                <div class="card-body">
                    <div class="table table-responsive">
                        <table id='post_list' width="100%" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">コメント一覧</th>
                            </tr>        
                            </thead>  
                            <tbody>
                                {% for comment in object_list %}  
                                    <tr class="text">
                                        <td class="text-center" style="width: 80%">
                                            <h6>{{ item.owner }}@{{ item.created_at}}</h6>
                                            <a href="{% url 'microposts:post_detail' pk=item.pk %}">{{ item.title }}</a></td> 
                                    </tr>
                                {% endfor %}
                            </tbody>                     
                        </table>        
                    </div>   
                    {% bootstrap_pagination page_obj extra=request.GET.urlencode %} 
                </div>    
            </div>    
        </div>    
    </div>
{% endblock %}