{% extends 'base.html' %}
{% block content %}      
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    {% if messages %}
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>    
                        {% endfor %}
                    {% endif %}
                    <h2> 記事詳細ページ </h2>
                        <div class="title">
                         <h4>タイトル</h4>{{ post.title }}
                        </div>
                        <div class="content">
                          <h4>本文</h4>{{ post.content }}
                        </div>  
                        <div class="comments">
                            <h2>コメント一覧</h2>
                            {% for comment in comments %}
                            <p>{{ comment.owner }}:{{ comment.created_at }}</p>
                            <p>{{ comment.text }}</p>    
                            {% endfor %}
                        </div> 
                    <div class="card">
                        <div class="card-header">
                            <h4><b>コメント</b></h4>
                        </div>    
                        <div class="card-body">
                            <form method="post" action="{% url 'microposts:comment_create' pk=post.pk %}">
                                {% csrf_token %}
                                {% bootstrap_form comment_form %}
                                <button type="submit" class = "btn btn-outline-primary btn-block">投稿する</button>
                            </form>            
                        </div>       
                    </div>        
                </div>    
            </div>    
        </div>    
    </div>    
{% endblock %}    

