#avatar-thumbnail {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid #eee;
}

.navbar {
    background-color: pink;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}
