{% extends 'base.html' %}
{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card md-3">
                <div class="card-header">
                    <h4><b>ユーザー一覧</b></h1>
                </div>    
                <div class="card-body">
                    <div class="table table-responsive">
                        <table id='user_list' width="100%" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="text-center">ユーザー</th>
                                <th class="text-center">画像</th>
                                <th class="text-center">フォロー</th>
                            </tr>        
                            </thead>  
                            <tbody>
                                {% for item in object_list %}  
                                    <tr class="odd gradeX text-center">
                                    <td class="text-center" style="width: 30%">{{ item.username }}</td>
                                    <td class="text-center" style="width: 30%">
                                {% if item.avatar %}
                                        <img class="rounded img-fluid mx-auto d-block" src="{{ item.avatar.url }}"
                                        id="avatar-thumbnail" alt="avatar_thumbnail">
                                {% else %}
                                    <img class="rounded img-fluid mx-auto d-block" alt="avatar_thumbnail">
                                {% endif %}</td>
                                <td class="text-center" style="width: 40%">
                                    {% if item in following_list %}
                                    <form action="{% url 'accounts:rm_relation' pk=item.id %}" method="post">
                                        <button type="submit" class="btn btn-outlune-danger btn-sm" name="button">Unfollow</button>
                                    {% csrf_token %}
                                    </form>
                                    {% else %}
                                    <form action="{% url 'accounts:mk_relation' pk=item.id %}" method="post">
                                        <button type="submit" class="btn btn_outline-primary btn-sm" name="button">Follow</button>
                                    {% csrf_token %}
                                    </form>
                                    {% endif %}
                                </td>            
                                    </tr>
                                {% endfor %}
                            </tbody>                     
                        </table>        
                    </div>    
                </div>    
            </div>    
        </div>    
    </div>
{% endblock %}